@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white:#ffffff;
}

body{
  font-family: "Roboto Condensed" sans-serif;
}

/************************NAVBAR*******************************/

.logo{
  width:16.25rem;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor:pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color : var(--primary-white)!important;
}